In [98]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from numpy.random import rand
from matplotlib import font_manager,rc


font_name=font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font',family=font_name)

df = pd.read_csv('2011년.txt',header=2,sep='\t',thousands = ',')
new_df=df.drop(0)
new_df=new_df[['지역','계','계.1']]
new_df.columns=['구','총인구','65세이상인구']
new_df

       구     총인구  65세이상인구
1    종로구  179068    22595
2     중구  141401    17707
3    용산구  257881    31231
4    성동구  314993    32327
5    광진구  388811    32580
6   동대문구  380320    43106
7    중랑구  431787    42282
8    성북구  498616    53839
9    강북구  349943    42156
10   도봉구  370209    38518
11   노원구  612587    57325
12   은평구  496310    54528
13  서대문구  331607    39623
14   마포구  402028    41831
15   양천구  503867    39472
16   강서구  579669    50965
17   구로구  453364    39808
18   금천구  265159    24272
19  영등포구  447738    43358
20   동작구  414191    42901
21   관악구  550800    51411
22   서초구  440188    37596
23   강남구  576453    44834
24   송파구  692962    53766
25   강동구  501776    40503

In [99]:
new_df['65세이상비율'] = new_df.apply(lambda row: (row['65세이상인구'] / row['총인구']),axis=1)
new_df

       구     총인구  65세이상인구   65세이상비율
1    종로구  179068    22595  0.126181
2     중구  141401    17707  0.125225
3    용산구  257881    31231  0.121106
4    성동구  314993    32327  0.102628
5    광진구  388811    32580  0.083794
6   동대문구  380320    43106  0.113341
7    중랑구  431787    42282  0.097923
8    성북구  498616    53839  0.107977
9    강북구  349943    42156  0.120465
10   도봉구  370209    38518  0.104044
11   노원구  612587    57325  0.093579
12   은평구  496310    54528  0.109867
13  서대문구  331607    39623  0.119488
14   마포구  402028    41831  0.104050
15   양천구  503867    39472  0.078338
16   강서구  579669    50965  0.087921
17   구로구  453364    39808  0.087806
18   금천구  265159    24272  0.091538
19  영등포구  447738    43358  0.096838
20   동작구  414191    42901  0.103578
21   관악구  550800    51411  0.093339
22   서초구  440188    37596  0.085409
23   강남구  576453    44834  0.077776
24   송파구  692962    53766  0.077589
25   강동구  501776    40503  0.080719